<div class="modal-content">
    <div class="modal-header">
      <h1 style="color: #6c757d;" class="modal-title"> Upload files</h1>
  
      <button (click)="onClickCloseModal()" type="button" class="btn-close" aria-label="Close"></button>

    </div>
    <div class="modal-body">

        <div class="containerFile" appDnd (fileDropped)="onFileDropped($event)">
            <input class="cursor-pointer" type="file" accept="audio/*, video/*, image/*, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target)" />
            <img class="cursor-pointer" src="assets/img/dnd/ic-upload-file.svg" alt="">
            <h3>Drag and drop file here</h3>
            <label for="fileDropRef">Browse for file</label>
        </div>
        <div class="files-list">
            <div class="single-file" *ngFor="let file of files; let i = index">
                <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
                <div class="info">
                <h4 class="name">
                    {{ file?.name }}
                </h4>
                <p class="size">
                    {{ formatBytes(file?.size) }}
                </p>
                <app-progress [progress]="file?.progress"></app-progress>
                </div>
                <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
            </div>
        </div>
        <div *ngIf="isAllFilesUploaded" class="containerButton">
            <label class="label-download cursor-pointer" (click)="Upload()">Upload files</label>
        </div>

    </div>
    <div class="modal-footer">
      <button (click)="onClickCloseModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
    </div>
</div>
  