/* Login */
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335 !important;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998 !important;
}

.div-background {
    height: 100vh;
    background-image: url('../img/image-drop.jpg');
}

.div-image-storage {
    height: 200px;
    width: 350px;
    background-image: url('../img/drop-storage-logo.png');
    background-size: 350px 200px;
}

/* loader - Spinner */
@-webkit-keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }
  
  .spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.25s linear infinite;
  }
  
  .spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
  }
  
  @-webkit-keyframes spinner-grow {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes spinner-grow {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: none;
    }
  }
  
  .spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow 0.75s linear infinite;
    animation: spinner-grow 0.25s linear infinite;
  }
  
  .spinner-grow-sm {
    width: 1rem;
    height: 1rem;
  }
  
  #overlaySpinner {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/stripes-light.png");
    opacity: .8;
    z-index: 1060;
    cursor: progress;
  }
  
  .contentSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .spinner-grow {
    border: 12px solid #040505;
    border-top: 12px solid #0056b3;
    border-radius: 50%;
    opacity: 1;
    width: 125px;
    height: 125px;
    background-color: transparent;
    animation: spin 2s alternate infinite;
  }
  
  @keyframes spin {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
    from {
      width: 125px;
      height: 125px;
      opacity: .2;
      background-color: #0063BE
    }
    to {
      width: 23px;
      height: 23px;
      opacity: 1;
      background-color: transparent;
    }
  }

  /* File container */
  .file-text {
    margin-left: 15px; 
    font-size:11px; 
    font-family: Tahoma, Verdana, sans-serif;
  }

  .file {
    margin: 20px;
    cursor: pointer;
    padding: 5px; 
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .file-selected {
    border: 2px solid rgb(0, 140, 255);  
  }

  .file:hover {
    background-color: rgb(0, 140, 255);
  }

  .fixed-content {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 325px;
    background: rgb(188, 241, 250);
    overflow:scroll;
  }

  .cursor-pointer {
    cursor: pointer !important;
  }

  .download-files-container {
    width: 500px;
    position:absolute; 
    border: dashed 1px #979797;
    text-align: center;
    padding: 2rem;
  }

  .label-download {
    color: white;
    width: 200px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
  }

  .fixed-content h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
  }

  .file-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  /* HEATHER */
  .head {
    padding: 16px 32px;
    text-align: center;
  }

  .head-img {
    display: flex;
    justify-content: space-between;
  }

  .img-content {
    width: auto;
    width: 64px;
    gap: 16px !important;
    display: flex;
    flex-direction: column;
  } 

  .border-dropdown {
    border-radius: 50%;
    border: 3px solid #0d6efd; 
  }

  #dropdownUser::after {
    content: "";
    display: none;
  }