<div (contextmenu)="onRightClick($event)" class="container">
    <div class="row">
        <div *ngFor="let file of fileStorageList; let i = index" [attr.data-index]="i" class="col-lg-2" (click)="ClickCheckBoxDowloadFile(file)" data-toggle="tooltip" [title]=" file.sizeMB + '&#013;' + file.createTime">
            <div class="thumbnail file" [ngClass]="file.checked ? 'file-selected' : ''" >
                <img [src]="file.urlImg" alt="Fjords" style="width:100%; height: 116px;">
                <div class="caption">
                    <input class="form-check-input " [(ngModel)]="file.checked" type="hidden" id="checkboxNoLabel" value="" aria-label="...">
                    <p class="file-text">{{file.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div style="visibility: hidden; position: fixed;"
    [style.left.px]="menuTopLeftPosition.x"
    [style.top.px]="menuTopLeftPosition.y"
    [matMenuTriggerFor]="rightMenu">
</div>
    
<!-- standar material menu -->
<mat-menu #rightMenu="matMenu">
    <ng-template matMenuContent>
    <button (click)="OpenUpdateModal()" mat-menu-item>Update</button>
    <button (click)="Download()" mat-menu-item>Download selected files</button>
    <button (click)="DeleteFilesSelected()" mat-menu-item>Delete selected files</button>
    </ng-template>
</mat-menu>