<div class="bg-dark text-white head">
    <div class="head-img">

      <div ngbDropdown class="d-inline-block">
          <a class="nav-link text-white dropdown-toggle img-content" role="button" id="dropdownUser" ngbDropdownToggle>
              <img class="border-dropdown img" [src]="imgUser" alt="Fjords">
              <p>{{userName}}</p>
          </a>
          
          <div ngbDropdownMenu aria-labelledby="dropdown1">
              <!-- items as buttons -->
              <button (click)="OnEditUser()" ngbDropdownItem>Edit user</button>
              <button (click)="OnClickLogOff()" ngbDropdownItem>Log off</button>
      
              <!-- items as links -->
              <!--<a href="#" ngbDropdownItem>Link (enabled)</a>
              <a href="#" ngbDropdownItem [disabled]="true">Link (disabled, not focusable)</a>
              <a href="#" ngbDropdownItem [class.disabled]="true" aria-disabled="true">Link (disabled, focusable)</a>-->
          </div>
      </div>

    </div>
  </div>